<nav class="bg-gray-200 dark:bg-gray-900 p-4 shadow-lg">
    <div class="container mx-auto flex items-center justify-between">
      <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Czajniki</h1>
      <div class="flex items-center gap-6">
        <div class="flex items-center gap-2 text-sm">
          <span id="lives" class="text-red-500">❤️❤️❤️</span>
        </div>
        <span id="temperatureInfo" class="text-gray-800 dark:text-white">Temperatura: 0°C</span>
      </div>
    </div>
</nav>
  