<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-gray-200 dark:bg-gray-800 transition-colors duration-300 min-h-full relative">

  {% include heat.html %}
  {% include navbar.html %}
  
  <div class="container mx-auto px-4 py-8 relative max-w-7xl">
    {{ content }}
  </div>

  {% include gameover.html %}
  {% include script.html %}

</body>
</html>
